DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"

ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD_HASH="$argon2id$..."
ADMIN_AUTH_SECRET="ganti-dengan-random-string-minimal-32-karakter"

CLOUDINARY_CLOUD_NAME="nama-cloud"
CLOUDINARY_API_KEY="api-key"
CLOUDINARY_API_SECRET="api-secret"
